<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590391716016-p55caejsis87tecjo8q2tjd1obeoitl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590391716016-p55caejsis87tecjo8q2tjd1obeoitl2</string>
	<key>API_KEY</key>
	<string>AIzaSyA0BEkq0ozBZev_4ng6I1V8XA5KI2pHh14</string>
	<key>GCM_SENDER_ID</key>
	<string>590391716016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oalshokri.chatAppClass</string>
	<key>PROJECT_ID</key>
	<string>new-chat-75fdb</string>
	<key>STORAGE_BUCKET</key>
	<string>new-chat-75fdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590391716016:ios:8272c7043c818f1f51f375</string>
</dict>
</plist>